<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sci-Fi Form</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Fill out the form to create a custom Mad Lib story!</h1>
      <form action="/SciFiTale" method="post">
        <label for="noun">Noun</label>
        <input id="noun" name="noun" type="text" />
        <label for="adjective">Adjective</label>
        <input id="adjective" name="adjective" type="text" />
        <label for="noun2">Noun</label>
        <input id="noun2" name="noun2" type="text" />
        <label for="noun3">Noun</label>
        <input id="noun3" name="noun3" type="text" />
        <label for="pastTenseVerb">Past Tense Verb</label>
        <input id="pastTenseVerb" name="pastTenseVerb" type="text" />
        <button type="submit">Go!</button>
      </form>
    </div>
  </body>
</html>
