<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Here is your story:</h1>
  
    <p>Once Upon a time, there was a @Model.Adjective @Model.Noun, and they thought that they would live the @Model.Noun2 ever after kind of lifestyle, but turns out that when they @Model.PastTenseVerb it all went crashing down.  </p>
  </body>
</html>